body {
  background-image: url("/img/img2.jfif");
}
span {
  display: inline-block;
  color: aliceblue;
  margin-left: 120px;
  margin-top: 50px;
  margin-left: 160px;
  font-size: 40px;
}
#time {
  display: block;
  box-sizing: border-box;
  padding-top: 40px;
  flex-direction: row;
  width: 400px;
  height: 200px;
  border: 2px solid darkblue;
  text-align: center;
  font-size: 100px;
  margin-left: 100px;
  background-color: aquamarine;
  color: blue;
  margin-top: 50px;
  border-radius: 50%;
}
